.TwoFactorModal__CodePage p {
  margin-bottom: 0;
}

.TwoFactorModal__CodePage ul {
  list-style: disc;
  margin: 1rem 0 1rem 3.5rem;
}

.TwoFactorModal__CodePage__content {
  text-align: center;
}
.TwoFactorModal__CodePage__content > * {
  margin: 1.25rem;
}
.TwoFactorModal__CodePage__content > img {
  margin: 0.5rem auto;
}

.TwoFactorModal__CodePage__code {
  display: block;
  max-height: 25vmin;
  width: auto;
}
