.DataTableRow {
  transition: background-color 0.3s ease-out, font-weight 0.5s ease-out;
}

.DataTableRow--clickable {
  cursor: pointer;
}

.DataTableRow--targeted {
  background: rgba(118, 171, 233, 0.5);
  font-weight: 900;
}

.DataTableRow .cell--buy {
  color: #4ebf56;
  text-transform: capitalize;
}

.DataTableRow .cell--sell {
  color: #e23636;
  text-transform: capitalize;
}
