.modal-container .modal-content.ReceiveModal {
  width: 80% !important; /* More bad hacks in the Stack theme */
  max-width: 500px;
}

.ReceiveModal h3 {
  margin-bottom: 0;
}

.ReceiveModal__coin {
  font-size: 40px;
  position: relative;
  left: -0.25em;
}

@media (max-width: 767px) {
  .ReceiveModal__coin {
    left: -5px;
  }
}

.ReceiveModal__Loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.33rem 0 1rem;
}

.ReceiveModal .react-tabs {
  margin-top: 1rem;
}
.ReceiveModal .react-tabs__tab--selected {
  font-weight: 700;
}
.ReceiveModal .react-tabs__tab-panel {
  min-height: 0;
}
