.flex {
    display: flex !important;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-wrap-no {
    flex-wrap: nowrap;
}

.flex-wrap-reverse {
    flex-wrap: wrap-reverse;
}

.flex-basis-3 {
    flex-basis: 25%;
    max-width: 25%;
}

.flex-basis-4 {
    flex-basis: 33.333333%;
    max-width: 33.333333%;
}

.flex-basis-6 {
    flex-basis: 50%;
    max-width: 50%;
}

.direction-row {
    flex-direction: row;
}

.direction-row-reverse {
    flex-direction: row-reverse;
}

.direction-column {
    flex-direction: column;
}

.direction-column-reverse {
    flex-direction: column-reverse;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-around {
    justify-content: space-around;
}
.justify-between {
    justify-content: space-between;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}

.align-stretch {
    align-items: stretch;
}

.align-self-start {
    align-self: flex-start;
}

.align-self-end {
    align-self: flex-end;
}

.align-self-center {
    align-self: center;
}

.align-self-stretch {
    align-self: center;
}

.grow-1 {
    flex-grow: 1;
}